<a href="https://colab.research.google.com/github/momonts/OOP-58001/blob/main/Operations_and_Expression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Boolean Operators

print(10>9)
print(10<9)
print(10==9)
print(10!=9)

True
False
False
True

In [ ]:
#Functions can return a Boolean

def myFunction():
  return True

print(myFunction())

True

In [ ]:
if myFunction():
  print("Yes!")
  
else:
    print("No!")

Yes!

In [ ]:
#Application no.1

print(10>9)

a = 60
b = 13

print(a==b)
print(a!=b)

True
False
True

In [ ]:
#Python Operators

print(10 + 3)
print(10 - 3)
print(10 * 3)
print(10 / 3)
print(10 % 3)
print(10 // 3)

13
7
30
3.3333333333333335
1
3

In [ ]:
#Bitwise Operators

#a = 60, binary: 0011 1100
#b = 13, binary: 0000 1101

print(a & b)
print(a | b)
print(a ^ b)
print(a << b)
print(a >> b)

12
61
49
491520
0

In [ ]:
#Application no.2

#Assignment Operators

     #Intepretation:
a+=3  #a = a + 3
a-=3  #a = a - 3
a*=3  #a = a * 3
a/=3  #a = a / 3
a%=3  #a = a % 3

In [ ]:
#Logical Operators

k = True
l = False

print(k and l)
print(k or l)
print(not(k or l))

False
True
False

In [ ]:
#Identity Operators

print(k is l)
print(k is not l)

False
True

In [ ]:
#CONTROL STRUCTURE

#if statement

v = 1
z = 2

if v<z:
  print("v iss less than z")

v iss less than z

In [ ]:
#elif statement

if v<z:
  print("v is less than z")

elif v!=z:
  print("v is not z")

v is less than z

In [ ]:
#else statement

number = int(input())

if number>0:
  print("Positive")

elif number<0:
  print("Negative")

else:
  print("Number is equal to zero")

4
Positive

In [ ]:
#Application 3: Develop a Python program that will accept if a person is entitled to vote or not

age = int(input())

if age >= 18:
  print("You are entitled to vote")

else:
  print("You are not entitled to vote")

19
You are entitled to vote

In [ ]:
#Nested if...else

u = int(input())
if u>10:
  print("u is above 10")
  if u>20:
    print("u is above 20")
    if u>30:
      print("u is above 30")
      if u>40:
        print("u is above 40")
        if u>50:
          print("u is above 50")

else:
  print("u is below 50")

1
u is below 50

In [ ]:
#LOOP STRUCTURE

week = ['Sun', 'Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat']
season = ['Rainy', 'Sunny', 'Cloudy']

for x in week:
  for y in season:
    print(y, x)

Rainy Sun
Sunny Sun
Cloudy Sun
Rainy Mon
Sunny Mon
Cloudy Mon
Rainy Tue
Sunny Tue
Cloudy Tue
Rainy Wed
Sunny Wed
Cloudy Wed
Rainy Thurs
Sunny Thurs
Cloudy Thurs
Rainy Fri
Sunny Fri
Cloudy Fri
Rainy Sat
Sunny Sat
Cloudy Sat

In [ ]:
for x in week:
  print(x)

  if x == 'Thurs':
    break

Sun
Mon
Tue
Wed
Thurs

In [ ]:
#While loop

i = 1

while i<=5:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
#Application 4: Create a Python program that displays numbers from 1 to 4

j = 1

while j<=4:
  print(j)
  j+=1

1
2
3
4

In [ ]:
#Application 5: Create a Python program that displays number 4 using while and break statement

j = 1

while j<=4:
  j+=1
  
  if j==4:
    print(j)

4